# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/sample/.gitkeep

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log